<div class="container">
  <i class="fa fa-user"></i>  <b>{{user.username}}</b> | role :<b> Admin </b>.
  <div class="row">
    <div class="col-md-12">
            <div class="heading">
                <h2>Administration menu</h2>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="team-member" >
                <div class="image">
                    <a [routerLink]="['/admin/user']">
                        <img src="assets/img/users.jpg" alt="" class="img-responsive img-circle">
                    </a>
                </div>
                <h3><a [routerLink]="['/admin/user']" >Users</a></h3>
                <p class="role">Users Management</p>
                <div class="text">
                    <p>As an admin you can Validate new accounts and Delete users</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member" >
                <div class="image">
                    <a [routerLink]="['/admin/property']">
                        <img src="assets/img/properties.jpg" alt="" class="img-responsive img-circle">
                    </a>
                </div>
                <h3><a [routerLink]="['/admin/property']" >Properties</a></h3>
                <p class="role">Properties Management</p>
                <div class="text">
                    <p>As an admin you can Validate new properties and Delete invalid ones</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member" >
                <div class="image">
                    <a [routerLink]="['/admin/review']">
                        <img src="assets/img/reviews.jpg" alt="" class="img-responsive img-circle">
                    </a>
                </div>
                <h3><a [routerLink]="['/admin/review']" >Reviews</a></h3>
                <p class="role">Reviews Management</p>
                <div class="text">
                    <p>As an admin you can view and manage reviews of the properties posted in the website</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="see-more">
                <a [routerLink]="['/profile']" class="btn btn-template-main">Back to profile</a>
            </div>
        </div>
    </div>
</div>
                <!-- /.container -->