<section>
            <!-- *** HOMEPAGE CAROUSEL ***
 _________________________________________________________ -->

            <div class="home-carousel">

                <div class="dark-mask"></div>

                <div class="container">
                    <div class="homepage owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        <img src="assets/img/logo.png" alt="">
                                    </p>
                                    <h1>Find the right property for you </h1>
                                    <p>Create account and start looking for the best services</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">

                                <div class="col-sm-12 text-center">
                                    <h2>Are you a Landlord?</h2>
                                    <p>With PMS you can :</p>
                                    <ul class="list-style-none">
                                        <li>Your property will be available in the market with just a few steps</li>
                                        <li>Easily contact your clients</li>
                                        <li>Receive feedback to better manage your properties</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1>PMS</h1>
                                    <ul class="list-style-none">
                                        <li>Whether you are looking for a new home or renting out your property, we connect you with the right people</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.project owl-slider -->
                </div>
            </div>

            <!-- *** HOMEPAGE CAROUSEL END *** -->
        </section>

        <section class="bar background-white">
            <div class="container">
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <h3>Easy to use</h3>
                                <p>Our platform is user friendly. We provide a very simple interface. </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <h3>Large Database</h3>
                                <p>We have millions of users and wherever you are in the US, we have you covered.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-lightbulb-o"></i>
                                </div>
                                <h3>Frequent Updates</h3>
                                <p>Our team is working day and night to update the platform to provide you with the best features.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>