<section>
            <!-- *** HOMEPAGE CAROUSEL ***
 _________________________________________________________ -->

            <div class="home-carousel">

                <div class="dark-mask"></div>

                <div class="container">
                    <div class="homepage owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        <img src="assets/img/logo.png" alt="">
                                    </p>
                                    <h1>Most usefull website to find Properties to rent</h1>
                                    <p>Create account and start looking for the best services</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">

                                <div class="col-sm-12 text-center">
                                    <h2>Are you a property owner ?</h2>
                                    <p>Our System gives you the opportunité to :</p>
                                    <ul class="list-style-none">
                                        <li>Post your property's information</li>
                                        <li>Contact with your customer</li>
                                        <li>Get reviews to better manage your service</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1>Propert Management System</h1>
                                    <ul class="list-style-none">
                                        <li>The best place that gathers customers and owners</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.project owl-slider -->
                </div>
            </div>

            <!-- *** HOMEPAGE CAROUSEL END *** -->
        </section>

        <section class="bar background-white">
            <div class="container">
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <h3>Easy to use</h3>
                                <p>Our platform is user friendly. It provides a very simple inteface to post/rent properties. </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <h3>Large Database</h3>
                                <p>Our platform is used by a very important mass of people so it covers the most properties in the country.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-lightbulb-o"></i>
                                </div>
                                <h3>Frequent Updates</h3>
                                <p>Our team is working day and night to update the platform and provide you the best features.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>