<div class="container">
  <i class="fa fa-user"></i>  <b>{{user.username}}</b> | role :<b> Owner </b>.
  <div class="row">
    <div class="col-md-12">
            <div class="heading">
                <h2>Owner menu</h2>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="team-member" >
                <div class="image">
                    <a [routerLink]="['/owner/client']">
                        <img src="assets/img/users.jpg" alt="" class="img-responsive img-circle">
                    </a>
                </div>
                <h3><a [routerLink]="['/owner/client']" >My Clients</a></h3>
                <p class="role">Clients Management</p>
                <div class="text">
                    <p>As an owner you can have you clients informations to contact them</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member" >
                <div class="image">
                    <a [routerLink]="['/owner/property']">
                        <img src="assets/img/properties.jpg" alt="" class="img-responsive img-circle">
                    </a>
                </div>
                <h3><a [routerLink]="['/owner/property']" >My Properties</a></h3>
                <p class="role">Properties Management</p>
                <div class="text">
                    <p>As an owner you can add/update/delete you properties</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member" >
                <div class="image">
                    <a [routerLink]="['/owner/review']" >
                        <img src="assets/img/reviews.jpg" alt="" class="img-responsive img-circle">
                    </a>
                </div>
                <h3><a [routerLink]="['/owner/review']"  >My Reviews</a></h3>
                <p class="role">Reviews Management</p>
                <div class="text">
                    <p>As an owner you can display all the reviews created about your properties</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="see-more">
                <a [routerLink]="['/profile']" class="btn btn-template-main">Back to profile</a>
            </div>
        </div>
    </div>
</div>
                <!-- /.container -->