<div class="container">
  <i class="fa fa-user"></i> <b>{{user.username}}</b> | role :<b> Customer </b>.
  <div class="row">
    <div class="col-md-12">
            <div class="heading">
                <h2>Customer menu</h2>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="team-member" >
                <div class="image">
                    <a [routerLink]="['/customer/search']" >
                        <img src="assets/img/search.jpg" alt="" class="img-responsive img-circle">
                    </a>
                </div>
                <h3><a [routerLink]="['/customer/search']"  >Search</a></h3>
                <p class="role">Search for property</p>
                <div class="text">
                    <p>As a customer you can search for properties by type</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member" >
                <div class="image">
                    <a [routerLink]="['/customer/list']" >
                        <img src="assets/img/list.jpg" alt="" class="img-responsive img-circle">
                    </a>
                </div>
                <h3><a [routerLink]="['/customer/list']" >List</a></h3>
                <p class="role">List of properties</p>
                <div class="text">
                    <p>As a customer you can list all properties</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member" >
                <div class="image">
                    <a [routerLink]="['/customer/rentals']" >
                        <img src="assets/img/rentals.jpg" alt="" class="img-responsive img-circle">
                    </a>
                </div>
                <h3><a [routerLink]="['/customer/rentals']"  >My Rentals</a></h3>
                <p class="role">Rentals Management</p>
                <div class="text">
                    <p>As a customer you can display all your rentals and cancel them if you want</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="see-more">
                <a [routerLink]="['/profile']" class="btn btn-template-main">Back to profile</a>
            </div>
        </div>
    </div>
</div>
                <!-- /.container -->